body {
  background: rgb(111, 117, 150);
  background: radial-gradient(
    circle,
    rgba(111, 117, 150, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.box {
  position: relative;
  z-index: 1;
}

#board {
  display: flex;
  justify-content: center;

  width: fit-content;
}

